

    <div class="h-100 p-4">
        <div class="tablero">
            <ul>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
            </ul>
             <ul>
               <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
            </ul>
        
          
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          
            <ul>
             <li>&#9818;</li>
              <li>&#9818;</li>
              <li>&#9818;</li>
              <li>&#9818;</li>
              <li>&#9818;</li>
              <li>&#9818;</li>
              <li>&#9818;</li>
              <li>&#9818;</li>
            </ul>
          
            <ul>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
                <li>&#9818;</li>
            </ul>
        
        </div>
  </div>